header{

  height: 40px;
  align-items: center;
  font-size: 25px;
  text-align-last: right;

  width: auto;

}


a#home{
  font-size: 20px;
  padding: 7px;

  border-radius: 10px;
  background-color: darkgrey;
  width: 100px;
}

a#teachers{
  font-size: 20px;
  padding: 7px;
  border-radius: 10px;
  background-color: darkgrey;
  width: 100px;
}

a#contactus{
  font-size: 20px;
  padding: 7px;
  border-radius: 10px;
  background-color: darkgrey;
  width: 90px;
}

a#sign-in{
  font-size: 20px;
  padding: 7px;
  border-radius: 10px;
  background-color: darkgrey;
  width: 90px;
}

a:active{
  color: pink;
  background-color: pink
}

a:hover{
  color: red;
}

body{
  background:  url(bg5.jpg) no-repeat;
  background-size: cover;

}


nav{
  font-weight: bolder;
}


div#medias{
  position: absolute;
  top: 170px;
  width: 700px;
  left: 300px;
  height: 600px;
  border-radius: 5px;

}

section#dv1{
  background-color: white;
  padding-top: 2.5px;
  padding-left: 2.5px;
  border-radius: 10px;
  position: absolute;
  width: 300px;
  height: 300px;
  /* top: 500px; */


}

section#mv1{
  background-color: white;
  position: absolute;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  padding-top: 2.5px;
  padding-left: 2.5px;
  /* top: 500px; */
  left: 400px;

}

section#av1{
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 320px;
  width: 300px;
  height: 300px;
  /* top: 1000px; */

}

section#cv1{
  background-color: white;
  position: absolute;
  border-radius: 10px;
  top: 320px;
  width: 300px;
  height: 300px;
  /* top: 1000px; */
  left: 400px;

}

aside#categories{
  padding: 3px;
  padding-left: 10px;
  border-block-color: red;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(200,200,75);
  width: 110px;

  height: auto;
  font-size: 24px;
}

aside#categories:hover{
  padding: 3px;
  padding-left: 10px;
  color: rgb(175,175,175);
  border-radius: 10px;
  border: 0.25px;
  background: transparent;
  width: 110px;

  height: auto;
  font-size: 24px;
}



section#Category{
  position: relative;
  color: rgb(175,175,175);
  font-size: 24px;
  width: 160px;
  border-radius: 7px;

}





div#develper{
  position: fixed;
  right: 5px;
  width: 80px;
  height: 80px;
  bottom: 10px;
  border-radius:  10px;
  border: 0.01px solid transparent;
  opacity: 0.6;
  font-size: 12px;



}

 img#shivang{
    position: relative;
    top: 2px;

    width: 80px;
    height:80px;
    border-radius: 10px;
    border: 0.5px solid yellow;
    opacity: 0.3;
    font-size: 5px;
}

footer{
  position: absolute;
  top: 800px;
  height: 200px;
  left: 0px;
  background-color: rgb(75,75,75);
  width: 100%;
}

p#cr{
  color: white;
  position: relative;
  top: 50px;
  font-size: 15px;
}

p#ctact{
  color:white;
  position: relative;
  top: 50px;
  font-size: 10px;

}
