
body{
  background-color: rgb(16,16,16);
/*   background-image: linear-gradient(to right,rgb(0,255,128),rgb(0,255,191), rgb(0,255,255), rgb(0,191,255), rgb(0,128,255));
 */
}

.container{
  position: absolute;
  top: 800px;
  left: 400px;
  display: inline-grid;
  scroll-behavior: smooth;
}



form{
  display: inline-flex;
}


#add{
  border: 0px;
  width: 80px;
  padding: 2px 2px 2px 2px;
  background-color: rgb(255,50,50);
  margin-left: 20px;
}

#listitem{
  width: 200px;
  margin-left: 2px;
  padding: 10px 20px 10px 2px;
  border: 0;
  outline: none;
  border-bottom: 2px solid rgb(10,10,10);
  transition: 0.3s;
}

#listitem:focus{
  border-bottom: 2px solid red;
}


#list{
list-style-type: none;
margin-top: 24px;
}

.listup{
  position: relative;
  top: 8px;
  font-size: 20px;
}

.listup:nth-child(odd){
  background-color: rgb(200,175,175);
}

.listup:hover{
  background-color: rgb(255,200,200);

}

.delete{
  color: red;
  position:absolute;
  right:0px;
}

::-webkit-scrollbar {
  width: 20px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background-color: cyan;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: teal;
  height: 50px;
  border-radius: 10px;
}

header{


    width: 99%;
  height: 50px;

}
.navbar{
     position: fixed;
  top: 8;
  left: 8;
   width: 99%;
  height: 50px;
  background-color: black;
  font-size: 25px;
  border-radius: 16px;
  padding-top: 15px;
  background-position-x:center;
  z-index:1;
}

.navig{

  height: 50px;
  font-size: 25px;
  padding-top: 15px;}

a{
  color:white;
  text-decoration: none;
}
a:hover{
  color:royalblue;
  font-size: 24px;
}

#ol1{
  position: absolute;
  top: -10px;
  list-style-type: none;
  display: inline-flex;
}

#ol2{
 
  text-align: left;

  
}


.wrk{
  border-top:10px;
  font-weight: bold;
  font-family: sans-serif;
  border-radius:8px;
  text-decoration: none;
 
  background-color: transparent;
  margin-top: 5px;
  width:75px;
  height:36px;
}

.work{
  position: fixed;
  top:10px;
  font-size: 16px;
  visibility: hidden;
  
}
.wrk:hover{
  transition-duration: 1s;
  background-color: transparent;


  height:80px;
  text-decoration: underline;
}

.wrka{
  background-color: transparent;
  width:60px;
  border: 6px solid transparent;
  border-radius: 8px;
  text-decoration-color: rgb(200,100,100);
  height:36px;
}

.wrka:hover{
  width:60px;
  height:36px;
  color: black;
  background-color: white;
    border: 6px solid white;
  text-decoration-style:-moz-none;

}

.wrk:hover .work{
  position: relative;
  top: 20px;
  left:-40px;
  transition-duration: 0.5s;
  width: 150px;
  opacity:1;
  height: 300px;
  font-size: 16px;
  text-decoration: none;

  visibility: visible;

  display:block;
}




.abt{
    padding-left: 10px;
  padding-right: 22.5px;
  font-weight: bold;
  font-family: sans-serif;
  width: 60px;
  height: 36px;
  border-radius:8px;
  text-decoration: none;
  color: white;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 30px;
}
.ab{  font-size: 16px;
  text-decoration: none;
  visibility: hidden;
}
.abt:hover{
  transition-duration: 10s;
  background-color: white;
  color: black;
  text-decoration: underline;
}
.abt:hover .ab{
  transition-duration: 5s;
  width: 500px;
  color: red;
  height: 300px;
  text-decoration: none;
  margin-top: 30px;
  border-radius: 24px;
  background-color: transparent;
  visibility: visible;
  position: relative;
  right: 50px;
}

.swb{
    padding-left: 10px;
  padding-right: 25px;
  font-weight: bold;
  font-family: sans-serif;
  width: 60px;
  height: 36px;
  margin-top: 5px;
  border-radius:8px;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;

}
.sb{
    font-size: 16px;width:300px;

  text-decoration: none;
  visibility: hidden;
}
.swb:hover{
  transition-duration: 10s;
  background-color: white;
  color: black;
  text-decoration: underline;
}
.swb:hover .sb{
  transition-duration: 10s;

  color: lightgrey;
  height: 30px;
  margin-top: 30px;

  background-color: transparent;
  visibility: visible;
  position: relative;
  right: 10px;
}


div.linked{
  position: absolute;
  top: 10px;
  right:1%;
  width: 100px;
  height:100px;
}



.intro{
  position: relative;
  top: 120px;
  left: 48px;
  font-size: 48px;
  width: 540px;
  height: 320px;
  padding-left: 32px;
  box-shadow: -5px -8px 8px 8px rgb(24,24,24);
  border-radius: 32px;
}
#name{
  padding-top: 16px;
  background-image: linear-gradient(to right, rgb(225, 50,20), rgb(200, 100,40));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro:hover{
  position: relative;
  transition-duration: 0.3s;
  top: 80px;
  left: 64px;
  font-size: 48px;
  width: 540px;
  height: 320px;
  padding-left: 32px;
  box-shadow: -5px 8px 16px 16px rgb(10,10,10);
  border-radius: 32px;

}



#img{
  position: absolute;
  top: 80px;
  right: 160px;

  width: 720px;
  height: 640px;
}

.b1{
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background: radial-gradient(#e66465, #9198e5);
 background: radial-gradient(ellipse at top, #e66465, transparent), radial-gradient(ellipse at bottom, #4d9f0c, transparent);
}

.b2{
  position: absolute;
  bottom: 0px;
    width: 100px;
  height: 100px;
  border-radius: 15px;
  background-color: red;
}

.b3{
 position: absolute;
  right:  1px;
  top: 0px;
    width: 100px;
  height: 100px;
  border-radius: 15px;
  background-color: red;
}

.b4{
  position: absolute;
  right: 0px;
  bottom: 0px;
    width: 100px;
  height: 100px;
  border-radius: 15px;
  background-color: teal;
}



#canvas{
  position:relative;
  height: 300px;
  width: 100px;
  top:100px;
  background-color: white;
  opacity: 1;
}
svg{
  position:fixed;
  top: 1px;
  left: 400px;
  width: 600px;
  
}

.brief{
  color: rgb(150,150,150);
}


.c-bot{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: blue;
}

.fa-envelope{
  position: relative;
  top: 25px;
  left: 25px;
}

#mailtoid{
  position: relative;
  top: -100px;
  left: -50px;
  display: none;
}


#inputsubmit{
  position: relative;
  right: -98px;
}

.musiccard{
  position: absolute;
  top: 800px;
  width: 72px;
  height: 80px;
  background-color: orange;
}

/* .musiccard:hover{
  position: absolute;
  top: 800px;
  width: 72px;
  height: 80px;
  background-color: red;
} */

#idclick{
  position: relative;
  top: 32px;
  left: 30px;
  width: 20px;
  height: 20px;
}


#autoclickbtn{
  position: absolute;
    top: 800px;
    width: 72px;
    height: 80px;
    z-index: -1;
}







@media only screen and (max-width: 410px) {

  a:hover{
    font-size:12px;
  }
  ol#ol1{
    position: absolute;
    top:-10px;
  }

  ol#ol2{
    padding: 1px;

  }
  .intro{
    background-color: white;
    width:50%;
    font-size: 20px;
    height: 50%;
  }
  .navbar{
    width: 99%;
    font-size: 10px;
    z-index: 1;
    height:25px;
  }
  .navig{
    font-size: 16px;

  }


  .wrk{
      border-top:4px;
  font-weight: bold;
  font-family: sans-serif;
  border-radius:2px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  margin-top: 5px;
  width:75px;
  height:36px;
  }

  .wrk:hover{
  border-top: 4px;
  border-radius: 2px;
  margin-top:1px;
  transition-duration: 1s;
  background-color: transparent;
  height:30px;
  text-decoration: underline;
  }
  .wrka{
    font-size: 16px;
    height:20px;
  }
  .work{
    font-size: 16px;
    position:fixed;
    top: 2.5px;
  }

  .wrk:hover .work{
  transition-duration: 1.5s;
  width: 60px;
  color: lightgrey;
  opacity:1;
  height: 120px;
  font-size: 10px;
  text-align:left;
  border-right: 7px solid;
  border-radius: 6px;
  right:5px;
  visibility: visible;
  position: relative;
  text-decoration-color: red;
  display:block;
}

  .wrka:hover{
    font-size: 16px;
    height: 20px;

  }
   .linked{
    position: absolute;
    left: 100px;
  }

}
