header{

  height: 40px;
  align-items: center;
  font-size: 25px;
  text-align-last: right;

  width: auto;

}


a#home{
  font-size: 20px;
  padding: 7px;

  border-radius: 10px;
  background-color: darkgrey;
  width: 100px;
}

a#teachers{
  font-size: 20px;
  padding: 7px;
  border-radius: 10px;
  background-color: darkgrey;
  width: 100px;
}

a#contactus{
  font-size: 20px;
  padding: 7px;
  border-radius: 10px;
  background-color: darkgrey;
  width: 90px;
}
a#sign-in{
  font-size: 20px;
  padding: 7px;
  border-radius: 10px;
  background-color: darkgrey;
  width: 90px;
}
a:active{
  color: pink;
  background-color: pink
}

a:hover{
  color: red;
}

body{
  background:  url(bg5.jpg) no-repeat;
  background-size: cover;

}

section#about{
  color: rgb(160,160,160);
  font-size: 32px;
  font-weight: bolder;
  width: 540px;
  height: 66px;
}
p#pabout{
  font-family:serif;

  font-size: 16px;
  width: 540px;
}
div#Z{
  position: absolute;
  top: 10px;
  left: 400px;
  width: auto;
  height: 54px;
}


div#med{
  position: absolute;
  top: 200px;
  width: 1000px;
  left: 250px;
  height: 320px;
}



section#tdance{
  position: absolute;
  top: 2px;

  width: 240px;
  height: 320px;
  background-color: white;
  border-radius: 5px;
}


section#tmusic{
  position: absolute;
  top: 2px;
  left: 250px;
  width: 240px;
  height: 320px;
  background-color: white;
  border-radius: 5px;
}

section#tart{
  position: absolute;
  top: 2px;
  left: 500px;
  width: 240px;
  height: 320px;
  background-color: white;
  border-radius: 5px;
}

section#tcook{
  position: absolute;
  top: 2px;
  left: 750px;
  width: 240px;
  height: 320px;
  border-radius: 5px;
  background-color: white;

}


button#db{
  position: relative;
  top: 225px;
  left: 50px;
  border-radius: 7.5px;
  background-color: darkgrey;
  width:150px;
  height: 50px;
}

button#mb{
    position: relative;
  top: 225px;
  left: 50px;
  border-radius: 7.5px;
  background-color: darkgrey;
  width:150px;
  height: 50px;

}

button#ab{  position: relative;
  top: 225px;
  left: 50px;
  border-radius: 7.5px;
  background-color: darkgrey;
  width:150px;
  height: 50px;
}

button#cb{
    position: relative;
  top: 225px;
  left: 50px;
  border-radius: 7.5px;
  background-color: darkgrey;
  width:150px;
  height: 50px;

}


div#develper{
  position: fixed;
  right: 5px;
  width: 80px;
  height: 80px;
  bottom: 10px;
  border-radius:  10px;
  border: 0.01px solid transparent;
  opacity: 0.6;
  font-size: 12px;



}

 img#shivang{
    position: relative;
    top: 2px;

    width: 80px;
    height:80px;
    border-radius: 10px;
    border: 0.5px solid yellow;
    opacity: 0.3;
    font-size: 5px;
}
