.eye {
  position: absolute;
  top: 240px;
  left: 262.5px;
  width: 175px;
  height: 175px;
  
  border-radius: 50%;
  overflow: hidden;
}
.eyes{
  position: absolute;
  top:0px;
  right: 100px;
  left: 50px;
  bottom: 0px;
    width: 630px;
  height: 400px;

  border: soild;
  border-radius: 200%;
  padding-top:20%;
  opacity: 1;
}
.iris {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 20%;
  left: 20%;
  border-radius: 50%;
  background-color: rgb(14, 14, 14);
}

.pupil {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 40%;
  left: 40%;
  border-radius: 50%;
  background-color: rgb(253, 251, 251);
}
