.container{
  position: absolute;
  top: 150px;
  left: 400px;
  display: inline-grid;

}

body{
  scroll-behavior: auto;
}

form{
  display: inline-flex;
}


#add{
  border: 0px;
  width: 80px;
  padding: 2px 2px 2px 2px;
  background-color: rgb(255,50,50);
  margin-left: 20px;
}

#listitem{
  width: 200px;
  margin-left: 2px;
  padding: 10px 20px 10px 2px;
  border: 0;
  outline: none;
  border-bottom: 2px solid rgb(10,10,10);
  transition: 0.3s;
}

#listitem:focus{
  border-bottom: 2px solid red;
}


#list{
list-style-type: none;
margin-top: 24px;
}

.listup{
  position: relative;
  top: 8px;
  align-items: flex-end;
  font-size: 16px;
}

.listup:nth-child(odd){
  background-color: rgb(200,175,175);
}

.listup:hover{
  background-color: rgb(255,200,200);

}
